body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}
.logs {
  width: 40%;
  background-color: white;
  height: 400px;
  border-radius: 50px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logs {
  width: 50%;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 10% auto auto auto;
}
.inputLogs {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
input {
  width: 100%;
  border: none !important;
  height: 40px;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 10px;
  text-align: right;
  padding-right: 10px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: hsl(184, 14%, 56%);
  font-size: 20px;
}
.bill {
  background-image: url(./icon-dollar.svg);
}
.persons {
  background-image: url(./icon-person.svg);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} 
input[type="number"] {
  -moz-appearance: textfield;
}
label {
  font-weight: 700;
  color: hsl(184, 14%, 56%);
  margin-bottom: -60px;
  font-size: 17px;
}
.zalais {
  width: 60%;
  height: auto;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  margin: 30px 30px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amount {
  width: 80%;
  height: auto;
  padding: 30px;
  margin-top: 30px;
}
.person {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  font-size: 15px;
}
.propsAmount {
  font-weight: 700;
  font-size: 35px;
  color: hsl(172, 67%, 45%);
  padding: 35px;
}
.flexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.reset {
  width: 80%;
  color: hsl(184, 14%, 76%);
  background-color: hsl(186, 14%, 43%);
  margin-top: 60px;
}
.reset:hover{
  color: hsl(172, 67%, 25%)
}
.text {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  line-height: 0.1;
}
button {
  width: 30%;
  height: 40px;
  margin: 5px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 19px;
  font-family: "Space Mono", monospace;
  cursor: pointer;
}
button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(184, 14%, 56%);
}

.poga {
  background-color: hsl(172, 67%, 45%);
}

input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.tips {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
}
.error:focus{
  outline: 1px solid red;
}
.error::after{
  content: "Can't be zero";
  float:right;
  color:rgb(209, 34, 34);
}
svg{
  position:absolute;
  top: 10%;

}
p{
  font-size:17px;
}
.btn{
  width: 30%;
  margin:5px;
}
.btn-grey{
  background-color: hsl(186, 14%, 84%);
  color: hsl(183, 100%, 15%);
}
.btn-grey:hover{
color:  hsl(183, 100%, 12%);
}
@media screen and (max-width:450px){
  .logs{
    display:flex;
    flex-direction:column;
    width:100%;
    height: auto;
    padding:30px;
  }
  .zalais{
    width: 100%;
    margin:auto;
    padding-bottom: 20px;
  }
.flexRow{
  height: 80px;
}
.inputLogs{
  width:100%;
  padding: 30px 0 30px 0;
  height:auto;
}
label{
  margin-bottom: 0px;
  color: hsl(184, 14%, 36%);
}
button, .btn{
  width:45%;
  height:50px;
  font-size: 25px;
  font-weight: bold;
}
.tips{
width:108%;
margin-left:-5px;
}
.reset{  background-color: hsl(172, 67%, 45%);
  color: hsl(186, 42%, 18%);
  font-family: "Space Mono", monospace;
font-size: 15px;
}
.flex{
  height:auto;
  flex-direction:column;
}
svg{
  position: initial;
}
body{
  padding-top:60px;
  font-family: "Space Mono", monospace;
}
.bill, .tips{
  margin-bottom:30px;
}
.propsAmount{
  font-size:24px;
  margin-top:15px;
}
input{
  font-size: 15px;
}
p{
  font-size: 12px;
}
.text{
  line-height:1;
}
.person{
  font-size:10px;
  width:50px;
}
}

@media screen and (min-width:451px) and (max-width:900px){
  .logs{
    display:flex;
    flex-direction:column;
    width:100%;
    height: auto;
    padding:30px;
  }
  .zalais{
    width: 100%;
    margin:auto;
    padding-bottom: 20px;
  }
.flexRow{
  height: 80px;
}
.inputLogs{
  width:100%;
  padding: 30px 0 30px 0;
  height:auto;
}
label{
  margin-bottom: 0px;
  color: hsl(184, 14%, 36%);
  font-size: 17px;
}
button, .btn{
  width:45%;
  height:50px;
  font-size: 25px;
  font-weight: bold;

 
}
.tips{
width:108%;
margin-left:-5px;
}
.reset{  background-color: hsl(172, 67%, 45%);
  color: hsl(186, 42%, 18%);
  font-family: "Space Mono", monospace;
}
.flex{
  height:auto;
  flex-direction:column;
}
svg{
  position: initial;
}
body{
 
  font-family: "Space Mono", monospace;
  padding:10%;
}
.bill, .tips{
  margin-bottom:30px;
}
.propsAmount{
  font-size:28px;
  margin-top:15px;
}
input{
  font-size: 20px;
}
}


@media screen and (min-width:901px) and (max-width:1200px){

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
  .logs {
    width: 90%;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 5% auto auto auto;
  }
  .inputLogs {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
  input {
    width: 100%;
    border: none !important;
    height: 40px;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 10px;
    direction: RTL;
    padding-right: 10px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
  }
  .bill {
    background-image: url(./icon-dollar.svg);
  }
  .persons {
    background-image: url(./icon-person.svg);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  } 
  input[type="number"] {
    -moz-appearance: textfield;
  }
  label {
    font-weight: 700;
    color: hsl(184, 14%, 56%);
    margin-bottom: -60px;
    font-size: 17px;
  }
  .zalais {
    width: 50%;
    height: auto;
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
    margin: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .amount {
    width: 80%;
    height: auto;
    padding: 30px;
    margin-top: 30px;
  }
  .person {
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 13px;
  }
  .propsAmount {
    font-weight: 700;
    font-size: 35px;
    color: hsl(172, 67%, 45%);
    padding: 35px;
  }
  .flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .reset {
    width: 80%;
    color: hsl(184, 14%, 76%);
    background-color: hsl(186, 14%, 43%);
    margin-top: 90px;
  }
  .reset:hover{
    color: hsl(172, 67%, 25%)
  }
  .text {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    line-height: 0.1;
  }
  button,.btn {
    width: 30%;
    height: 40px;
    margin: 5px;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 19px;
    font-family: "Space Mono", monospace;
    cursor: pointer;
  }
  button:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(184, 14%, 56%);
  }
  
  .poga {
    background-color: hsl(172, 67%, 45%);
  }
  
  input:focus {
    outline: 2px solid hsl(172, 67%, 45%);
  }
  .tips {
    width: 104%;
    display:flex;
    flex-wrap: wrap;
  }
  .error:focus{
    outline: 1px solid red;
  }
  .error::after{
    content: "Can't be zero";
    float:right;
    color:rgb(209, 34, 34);
  }
  svg{
    position:initial;
    margin-top:60px;
  }
  input{
    font-size: 20px;
  }
}
@media screen and (min-width:1201px) and (max-width:1440px){

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
  .logs {
    width: 70%;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 5% auto auto auto;
  }
  .inputLogs {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
  input {
    width: 100%;
    border: none !important;
    height: 40px;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 10px;
    direction: RTL;
    padding-right: 10px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
  }
  .bill {
    background-image: url(./icon-dollar.svg);
  }
  .persons {
    background-image: url(./icon-person.svg);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  } 
  input[type="number"] {
    -moz-appearance: textfield;
  }
  label {
    font-weight: 700;
    color: hsl(184, 14%, 56%);
    margin-bottom: -60px;
    font-size: 17px;
  }
  .zalais {
    width: 50%;
    height: auto;
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
    margin: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .amount {
    width: 80%;
    height: auto;
    padding: 30px;
    margin-top: 30px;
  }
  .person {
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 13px;
  }
  .propsAmount {
    font-weight: 700;
    font-size: 35px;
    color: hsl(172, 67%, 45%);
    padding: 35px;
  }
  .flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .reset {
    width: 80%;
    color: hsl(184, 14%, 76%);
    background-color: hsl(186, 14%, 43%);
    margin-top: 90px;
  }
  .reset:hover{
    color: hsl(172, 67%, 25%)
  }
  .text {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    line-height: 0.1;
  }
  button,.btn {
    width: 30%;
    height: 40px;
    margin: 5px;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 19px;
    font-family: "Space Mono", monospace;
    cursor: pointer;
  }
  button:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(184, 14%, 56%);
  }
  
  .poga {
    background-color: hsl(172, 67%, 45%);
  }
  
  input:focus {
    outline: 2px solid hsl(172, 67%, 45%);
  }
  .tips {
    width: 104%;
    display:flex;
    flex-wrap: wrap;
  }
  .error:focus{
    outline: 1px solid red;
  }
  .error::after{
    content: "Can't be zero";
    float:right;
    color:rgb(209, 34, 34);
  }
  svg{
    position:initial;
    margin-top:60px;
  }
  input{
    font-size: 20px;
  }
}